@charset "utf-8";

#container {
    width: 1500px;
    height: 3000px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
body {
    background-color: #494949;
}

#Header1 {
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: bolder;
    line-height: 157px;
    color: #FFFFFF;
}
#Header3  {
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    font-weight: bolder;
    line-height: 157px;
    color: #FFFFFF;
}
#Header4 {
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    font-weight: bolder;
    line-height: 157px;
    color: #FFFFFF;
}
#contactbox {
    width: 500px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #3C3C3C;
    border-width: thick;
    border-style: outset;
    text-align: center;
    height: 550px;
}
#Header5 {
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    font-weight: bolder;
    line-height: 157px;
    color: #FFFFFF;
}
#headholder {
    width: 1250px;
    height: 400px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    border: 4px outset #8C00FF;
    background-color: #000000;
    background-image: url(url);
}
#beginning {
    width: 1500px;
    height: 200px;
    border: 4px groove #8C00FF;
    font-family: "Times New Roman";
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-align: center;
    font-size: 89px;
    padding-top: auto;
    padding-right: auto;
    padding-bottom: auto;
    padding-left: auto;
    font-weight: normal;
    line-height: 180px;
    background-image: url(pictures/final%20banner.png);
}
#Header2 {
    width: 250px;
    height: 400px;
    float: left;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: bolder;
    line-height: 157px;
    color: #FFFFFF;
}

*{
	margin:0;
	padding:0;
	font-family: "Times New Roman";
}



ul li {
	display:inline-block;
	position: relative;
}

ul li a {
	display: block;
	padding: 20px 25px;
	color:white;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	
}

ul li ul.dropdown li{
	display: block;
}

ul li ul.dropdown{
	width: 120%;
	background:#8E8E8E;
	position:absolute;
	display: none;
}

ul li a:hover {
	background: #000021;
	color: palevioletred;
}

ul li:hover .dropdown {
	display: block;
}#dropbox {
    width: 50px;
    height: 60px;
}
.linkcolor {
    color: #FFFFFF;
    text-decoration: none;
}
#tbd {
    width: 1000px;
    height: 600px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border: thick ridge #51127F;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 200px;
    text-align: center;
}
#holder1 {
    width: 700px;
    height: 300px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float: left;
    background-color: #FFFFFF;
    border: thick inset #51107F;
    padding-top: 0px;
}
#holder2 {
    width: 700px;
    height: 300px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float: right;
    border: thick inset #51107F;
    background-color: #FFFFFF;
    padding-top: 0px;
}
#holderbox {
    width: 1500px;
    height: 2500px;
}
#tallholder1 {
    width: 400px;
    height: 700px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    float: left;
    border: thick inset #51107F;
    background-color: #FFFFFF;
    padding-top: 0px;
}
#tallholder2 {
    width: 400px;
    height: 700px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 140px;
    border: thick inset #51107F;
    float: left;
    background-color: #FFFFFF;
    padding-top: 0px;
}

#tallholder3 {
    width: 400px;
    height: 700px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 120px;
    border: thick inset #51107F;
    float: left;
    background-color: #FFFFFF;
    padding-top: 0px;
    /* [disabled]clear: both; */
}
